<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  Options +Indexes
  RewriteEngine on

  # RewriteBase /my_app/ # if your app is in a subfolder
  # RewriteBase /web/
  
  # protect other directories
  RedirectMatch 404 /\\.svn
  RedirectMatch 404 /scripts
  RedirectMatch 404 /lib
  RedirectMatch 404 /app
  RedirectMatch 404 /config
  RedirectMatch 404 /i18n

  # test string is a valid files or directory
  RewriteCond %{SCRIPT_FILENAME} !-f
  RewriteCond %{SCRIPT_FILENAME} !-d
  
  #RewriteRule ^(.*)$ index.php?/$1    [NC,L]
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
    
