
#content, header, footer {
	margin: 0 auto;
	width: 1000px
}

article,nav {
  margin-left:  0;
  width: 100%;
	padding: 10px;
}

nav {
	width: 150px;
	margin-right: 10px;
	float: left;
	color: #AAA;
}

article {
	width: 790px;
	padding: 10px 20px;
	margin-left: 170px;
	background: white;
	min-height: 300px;
}

#content {
	background: white;
	background: #333;
}

h2 {
	margin-bottom: 1em;
}

table.data {
	width: 100%;
	cellspacing: 1px;
	margin: 1em 0;
}
table.data th, table.data td {
	padding: 4px 6px;
}
table.data th {
	background: #DDD;
	text-align: left;
	color: #999;
	border: 1px solid #CCC;
	text-shadow: 1px 1px 1px #FFF;
}
table.data td {
	background: white;
	border: 1px solid #DDD;
	font-size: 0.8em;
}
