
/* General */
html {
  background: #F2EDE7;
  color: #413A32;
}

body {
  font-size:100%;
  font-family: Arial, sans-serif;
  line-height:1.125em;
}
p {
  font-size:0.875em;
}

header, article, footer {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
h1 {
}
a {
  color: #1E52A1;
  text-decoration: none;
}
a:hover {
  color: #78B2FF;
}

/* Section new-file & uploaded-files */
section {
  background-color: #FFF;
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
  border-width: 1px;
  border-style: solid;
  border-color: #D4D0C9;
  margin-top:     0.4em;
  margin-bottom: 1.5em;
}
.qtip section {
  -moz-border-radius:    0;
  -webkit-border-radius: 0;
  border: none;
  margin: 0;
}
h2 {
  letter-spacing: -0.05em;
  font-weight: normal;
  font-size: 1.1em;
}
h2 span.filename {
  font-size: 0.8em;
}

/* Header */
header {
  padding: 3em 0 2em 0;
}
header h1 {
}
header #filez-logo {
  display: block;
  margin: auto 0;
}
header #filez-header {
  letter-spacing: -0.05em;
  font-weight: normal;
  font-size: 1em;
  color: #8F837A;
  display: block;
}
header #your-logo {
  display: block;
  float: left;
  margin-top: -1em;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #D9D4CF;
}

/* Notifications */
.notif {
    -moz-border-radius:		 10px;
    -webkit-border-radius: 10px;
    padding: 1em;
    margin-top: 2em;
    background: #fffec2; /* notif ok */
    border: 1px solid #E5E4AD; /* notif ok */
}
.notif.error {
    background: #f2e1dc;
    border: 1px solid #f3c5c1;
}
.notif.error h1 {
    color: #AC342B;
}
.notif .notif-close {
    float: right;
    height: 16px;
    width: 16px;
    text-indent: -3000em;
    display: block;
    background: transparent url(../images/icons/dialog-close.png) no-repeat center center;
    opacity: 0.4;
    filter:alpha(opacity=40);
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
}
.notif .notif-close:hover ,
.notif:hover .notif-close {
    background-color: #f3c5c1;
    opacity: 1;
    filter:alpha(opacity=100);
}

/* Section new-file */
section.new-file {
  -moz-box-shadow:    inset 0 20px 20px rgba(0,0,0,0.04);
  -webkit-box-shadow: inset 0 20px 20px rgba(0,0,0,0.04);
}
.qtip section.new-file {
  -moz-box-shadow:    none;
  -webkit-box-shadow: none;
}
section.new-file form {
  position: relative;
}
section.new-file div#start-from {
  width: 20%;
  position: absolute; top: 0;
}
section.new-file div#file {
  position: absolute; top: 0;
  width: 40%;
}
section.new-file div#file       ,
section.new-file div#lifetime   ,
section.new-file div#start-from {

}
section.new-file div#file       input ,
section.new-file div#lifetime   select ,
section.new-file div#comment    input ,
section.new-file div#start-from input {
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
section.new-file div#file       { left:  1.3em; }
section.new-file div#start-from { right: 1.3em; }
section.new-file div#file input {
}
section.new-file div#lifetime {
  width: 18%;
  margin: 0 28% 0 auto;
}
section.new-file div#start-from input {
  background: transparent url(../images/icons/office-calendar.png) no-repeat 6px center;
  padding-left: 28px;
}
section.new-file div#comment {
  padding: 0 1.3em;
}
section.new-file label {
  padding-top: 0.8em;
  display: block;
}
section.new-file div#upload {
  background: #F6F8FB;
  -moz-border-radius-bottomright:     5px;
  -webkit-border-radius-bottomright:  5px;
  border-radius-bottomright:          5px;
  -moz-border-radius-bottomleft:      5px;
  -webkit-border-radius-bottomleft:   5px;
  border-radius-bottomleft:           5px;
  -moz-box-shadow:    inset 0 20px 20px rgba(63,109,177,0.05);
  -webkit-box-shadow: inset 0 20px 20px rgba(63,109,177,0.05);
  padding: 0.7em;
  margin-top: 1em;
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #EDF2F7;
}
section.new-file div#upload * {
}
section.new-file div#upload-loading {
  width: 220px; height: 19px;
  background: transparent url('../images/ajax-loader.gif') no-repeat center center;
  margin: 0 auto;
}

h2.new-file a.awesome {
  background-color: #DAD5D0;
  background-color: #CEC9C4;
  background-image: url(../images/icons/upload.png);
  background-position: center 10px;
  background-repeat: no-repeat;
  display: block;
  text-align: center;
  padding: 80px 0 10px 0;
  margin-bottom: 2em;
  text-shadow: 0 0 7px #FFF;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow:    inset 0 20px 20px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
  border: 1px solid #CFCBC6;
  border-top: 1px solid #F5F4F3;
  border-bottom: 2px solid #B9B5B1;
  color: #4A4947;
  font-size: 0.9em;
  letter-spacing: -1px;
}
h2.new-file a.awesome:hover {
  background-color: rgba(0,0,0,0.20);
}
.ui-dialog section.new-file {
    margin: 0;
}

 
/* form */
select ,
textarea ,
input {
  padding: 0.4em;
  border-width: 1px;
  border-style: solid;
  border-color: #EDEBE6;
  background: #FBFAF8;
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
  border: 1px solid rgba(0,0,0,0.3);
  -moz-box-shadow:    inset 0 4px 4px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 4px 4px rgba(0,0,0,0.05);
}
label {
  font-size: 0.8em;
  color: #7C746C;
}

/* Section uploaded-files */
section#uploaded-files ul#files {
  list-style: none;
}
section#uploaded-files ul li.file {
  position: relative;
  padding-top: 0.7em;
}
section#uploaded-files ul li.file.even {
  background: #F5F4F2;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #EDF2F7;
}
section#uploaded-files ul li.file:first-child {
  -moz-border-radius-topright:     5px;
  -webkit-border-radius-topright:  5px;
  border-radius-topright:          5px;
  -moz-border-radius-topleft:      5px;
  -webkit-border-radius-topleft:   5px;
  border-radius-topleft:           5px;
}
section#uploaded-files ul li.file:last-child {
  -moz-border-radius-bottomright:     5px;
  -webkit-border-radius-bottomright:  5px;
  border-radius-bottomright:          5px;
  -moz-border-radius-bottomleft:      5px;
  -webkit-border-radius-bottomleft:   5px;
  border-radius-bottomleft:           5px;
}
section#uploaded-files ul li p.filename {
  padding: 0 1.3em;
}
section#uploaded-files ul li p.filename a {
  padding-left: 20px;
  background: transparent url(../images/icons/emblem-info.png) no-repeat left center;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: -0.05em;
}
section#uploaded-files ul li:hover p.filename  span.filename {
  display: none;
}
section#uploaded-files ul li:hover p.filename span.url {
  display: inline;
}
section#uploaded-files ul li p.filename span.url {
  display: none;
  font-weight: normal;
  color: #67665E;
}
section#uploaded-files ul li p.filename span.hash {
  font-weight: bold;
  color: #000;
  letter-spacing: 0.05em;
}
section#uploaded-files ul li p.availability ,
section#uploaded-files ul li p.file-info {
  float: right;
  clear: right;
  color: #7C746C;
  font-size: 0.8em;
  padding-right: 1.3em;
}
section#uploaded-files ul li p.file-info span.filesize {
  font-size: 0.8em;
}
section#uploaded-files ul li p.availability b {
  color: #433C34;
}
section#uploaded-files ul li p.comment {
  margin: 0.3em 1.3em 0.5em 1.3em;
}
section#uploaded-files ul li ul.actions {
  list-style: none;
  background: #F8F6E2;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(255,255,255,1);
  -moz-box-shadow:    inset 0 -4px 4px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 -4px 4px rgba(0,0,0,0.05);
  padding: 0.2em 1.3em;
  font-size: 0.8em;
}
section#uploaded-files ul li ul.actions li {
  display: inline;
  padding-right: 0.8em;
}
section#uploaded-files ul li ul.actions li + li {
  padding-left: 0.8em;
  border-left: 1px solid #EDEBE6;
  border-left: 1px solid rgba(0,0,0,0.1);
}
section#uploaded-files ul li ul.actions a.send-by-email ,
section#uploaded-files ul li ul.actions a.delete ,
section#uploaded-files ul li ul.actions a.extend {
  padding-left: 20px;
  line-height: 16px;
  height: 16px;
  display: inline-block;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
}
section#uploaded-files ul li ul.actions a.extend { background-image: url(../images/icons/edit-redo.png); }
section#uploaded-files ul li ul.actions a.send-by-email { background-image: url(../images/icons/mail-message-new.png); }
section#uploaded-files ul li ul.actions a.delete { background-image: url(../images/icons/user-trash.png); }
section#uploaded-files ul li.file:hover {
  background: #FFFDE9;
}

/* send-email-form */

.send-email-form label {
  display: block;
}
.send-email-form textarea ,
.send-email-form input.to {
  width: 97%;
}
.send-email-form textarea {
  height: 4em;
}

#email-modal form p {
  padding: 1em 1.5em 0 1.5em;
}
#email-modal form p.submit {
 background: #F6F8FB;
  -moz-box-shadow:    inset 0 20px 20px rgba(63,109,177,0.05);
  -webkit-box-shadow: inset 0 20px 20px rgba(63,109,177,0.05);
  padding: 0.7em;
  margin-top: 1em;
  text-align: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #EDF2F7;
}

/* Section #preview-file */
section#preview-file {
  -moz-box-shadow:    inset 0 20px 20px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 20px 20px rgba(0,0,0,0.05);
  padding: 0.7em;
  margin-top: 1em;
}
section#preview-file p {
  padding: 0.5em 0;
}
h2.filename {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 2em;
}

/* Login form */

form#login-form {
  width: 230px;
  margin: 3em auto;
  padding: 15px;
  background: #494846;
  -moz-border-radius:     7px;
  -webkit-border-radius:  7px;
  border-radius:          7px;
}
form#login-form p {
    margin: 0 0 10px 0;
}
form#login-form label {
  display: block;
  color: #BBB;
  text-shadow: 1px 1px 3px #222;
}
form#login-form input {
  width: 217px;
  padding: 5px;
}
form#login-form p#submit-login {
    padding: 10px 0 5px 0;
    text-align: center;
}

/* Footer */
footer {
  text-align: center;
  padding: 4em 0;
}
footer a {
  color: #8F837A;
  font-size: 0.7em;
}

/* Modal */

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    opacity: 0.7;
    filter:alpha(opacity=70);
    background-color: black;
    z-index: 5000;
    display: none;
}

/* Awesome button from http://www.zurb.com/blog_uploads/0000/0485/buttons-02.html */
.awesome,
.awesome:visited {
  background: #222;
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow:    inset 0 20px 20px rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0 20px 20px rgba(255,255,255,0.3);
}
.awesome:hover { background-color: #111; color: #fff;text-shadow: 0 -1px 1px rgba(0,0,0,0.4);}
.awesome:active { top: 1px; }

.blue.awesome, .blue.awesome:visited { background-color: #1E52A1; }
.blue.awesome:hover                  { background-color: #376EBF; }
.awesome.large {
  padding: 6px 20px 6px 20px;
}


/* jQuery UI css extend
----------------------------------*/

/* Datepicker
----------------------------------*/
.ui-datepicker {
	font-size:80%;
        z-index: 10000;
}

/* Dialog
----------------------------------*/
.ui-widget-overlay {
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.ui-dialog { 
    position: relative; padding: 0; width: 300px; background: #FFF;
  -moz-box-shadow:    0 5px 20px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  border: 0;
  font-family: Arial, sans-serif;
  font-size: 100%;
}
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .5em 1em; position: relative; border: none;
    -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0;
    -moz-box-shadow:    inset 0 10px 10px rgba(255,255,255,0.06);
    -webkit-box-shadow: inset 0 10px 10px rgba(255,255,255,0.06);
    background: #333;
    color: #999;
    font-size:0.9em;
    text-shadow: 0 0 4px #000;
}
.ui-dialog .ui-dialog-title { float: left; margin: 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { border: 0; padding: 0; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size: 0.8em;
}