
[app]
use_url_rewriting       = true
upload_dir              = /tmp
log_dir                 = log
filez1_compat           = true
max_file_lifetime       = 20 
default_file_lifetime   = 10

[db]
dsn      = "mysql:host=localhost;dbname=filez"
user     = filez
password = filez

[email]
from_email=filez@univ-avignon.fr
from_name=Filez
host=smtp.univ-avignon.fr
; auth=login ; possible values = crammd5, login, plain
; port=25
; username=user
; password=pwd

[auth]
handler_class = Fz_Controller_Security_Cas

[auth_options]
cas_server_host = cas.univ-avignon.fr

[user_factory]
user_factory_class = Fz_User_Factory_Ldap

[user_factory_options]
host = ldap.univ-avignon.fr
useSsl = false
baseDn = "ou=people,dc=univ-avignon,dc=fr"

[user_attributes_translation]
givenname = firstname
sn = lastname
mail = email
uid = id
