
[app]
use_url_rewriting = true

; Must be writtable by the web server
upload_dir = /tmp

; Must be writtable by the web server
log_dir = log

; Allow downloading file sent with filez 1.x
filez1_compat = true

; Max and default lifetime of a file on the server
max_file_lifetime     = 20 
default_file_lifetime = 10

; Min/Max size of files hash codes
min_hash_size = 5
max_hash_size = 8

; Default langage when no translation exists for the user local
default_locale = fr



[db]
dsn      = "mysql:host=localhost;dbname=filez"
user     = filez
password = filez



[email]
from_email=filez@univ-avignon.fr
from_name=Filez
host=smtp.univ-avignon.fr
; auth=login ; possible values = crammd5, login, plain
; port=25
; username=user
; password=pwd



[auth]
; Name of the class used to authenticate the user. Built-in handler are :
;  * Fz_Controller_Security_Cas
;  * Fz_Controller_Security_Ldap
;  * Fz_Controller_Security_Db
handler_class = Fz_Controller_Security_Cas



[auth_options]
; Parameters passed to the authentication handler. See per handler conf in doc/
cas_server_host = cas.univ-avignon.fr



[user_factory]
; Name of the class used to authenticate the user. Built-in handler are :
;  * Fz_User_Factory_Ldap
;  * Fz_User_Factory_Db
user_factory_class = Fz_User_Factory_Ldap

[user_factory_options]
; Parameters passed to the user factory. See per handler conf in doc/
host = ldap.univ-avignon.fr
useSsl = false
baseDn = "ou=people,dc=univ-avignon,dc=fr"

[user_attributes_translation]
; In order to make the application schema agnostic with differents user storage
; facilities, each user attributes is translated from its original name to the
; application name. The syntax is as follow : original_name = application_name.
; This attributes are required by filez :
;  * firstname
;  * lastname
;  * email
;  * id
givenname = firstname
sn = lastname
mail = email
uid = id
